body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

main {
  position: relative;
}

h1 {
  margin-left: 1rem;
}

#Cabecalho {
  border: 2px solid black;
  max-width:60%;
  margin-left: 15rem;
  margin-top: 3rem;
  background-color: orangered;
}

.Armazenamento {
  border: 2px solid black; 
  max-width: 58.5%;
  margin-left: 15rem;
  height: 27.65rem;
  padding: 10px; 

}

#QuadradoExterno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: calc(27.65rem + 2 * 10px + 8rem); 
  border: 2px solid red; 
} 

#Digitando {
  display: flex;
  margin-left: 2rem;
  width: 44.3rem;
  height: 3rem;

}

#Org {
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
  
}

#Editar{
  margin-left: 30rem;
  background-color: orange;
  
}

#Excluir{
  margin-right: 3rem;
  background-color: red;
  
}

.Area2 {
  margin-right: 15rem;
}

#Enviar {
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  margin-left: 0.5rem;
  display: flex;
  height: 1.3rem;
  margin-right: 3rem; 
}

#Ajustes {
  border: 2px solid black;
  background-color: grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 14.2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  height: 8rem;
  max-width: 90%;
}

#Fim {
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 8rem;
}

#Msg {
  height:1px;
  overflow-y: auto;
}